 
  /* Common Tags and Classes */

   *{
	   scroll-behavior: smooth;
   }
    p{
		color: #8f8f8f;
	}
   .main-clr{
	   background-color: #ff4c68;
   }


   /* Top section */



.container-fluid{
	padding: 3% 15% 7%;
}
.navbar-brand{
	font-size: 2.5rem;
}
.navbar{
	padding: 0 0 4.5rem 0;
}
.nav-item{
	padding: 0 17px;
}
#title h1{
	font-family: 'Montserrat-black', sans-serif;
    font-weight: 900;
    font-size: 3.0rem;
    line-height: 1.5;
    color: #fff;
}
#title a{
	font-family: 'Ubuntu', sans-serif;
}
#title img{
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 30%;
}
.download-button{
	margin: 8% 3% 0 0;
}


/* Features Section */


#features {
	background-color: #fff;
	position: relative;
	z-index: 1;
}
.icon {
    font-size: 4.5rem;
	font-weight: 900;
	color: #ef8172;
	margin-bottom: 1rem;
}
.icon:hover{
	color: #ff4c68;
}
#features h3{
	font-size: 1.5rem;
	font-family: 'Montserrat-black', sans-serif;
	font-weight: bold;
}
#features p{
	padding: 5%;
}
.features-sec{
	padding: 7% 12%;

}

/* Testimonials Section */


#testimonials{
	
	text-align: center;
	background-color: #ef8172;
}
.carousel-item{
	padding: 7% 15%;
}
.testimonials-img{
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}
#testimonials h2{
	font-family: 'Montserrat-black', sans-serif;
	font-weight: bold;
	line-height: 1.5;
	font-size: 2.5rem;
	color: #fff;
}


/* Press Section */


#press{
	background-color: #ef8172;
	padding-bottom:3% ;
}

.press-logo{
	width: 15%;
	margin: 15px 25px;
}





/* Pricing Section */



  #pricing{
	  text-align: center;
	  padding: 100px;
	  font-family: 'Montserrat-black', sans-serif;
	}
	
  #pricing h2 {
	  font-size: 2.5rem;
	  margin-bottom: 15px;
	  font-weight: 600;
  }
  

  .pricing-card {
	  padding: 2% 3%;
  }
  .card-body{
	  padding: 1.25 rem;
  }
  


  /* CTA Section */
  
  
  #cta{
	  padding: 7% 15%;
	}
  #cta h3{
	color: #fff;
    font-weight: 900;
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.0rem;
    margin: 3% 4%;
    line-height: 1.5;
 }
 .cta-button{
	 margin: 20px 10px 0px;
 }



 /* Footer */


#footer {
	 background-color: #fff;
	 padding: 5%;
}
#footer p {
	margin-top: 15px;
}



/* Responsive CSS */


@media screen and (max-width: 1050px){

    #title{
		text-align: center;
	}
	
	#title img {
		position: static;
		margin-top: 30px;
		transform: rotate(0);
	}
}